.ItemComponentWrap {
    display: inline-table;
    padding: 3px 3px 3px 3px;
  }
  
.ItemImgWrap {
    width: 40px;
    height: 40px;
  }
  
.ItemImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
  }
  
.ItemComponentUI {
    position: absolute;
    width: 300px;
    transform: translate(-50%,-130%);
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 10;
  }

.ItemComponentUI-right{
  position: absolute;
  width: 300px;
  transform: translate(-75%,-133%);
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 10;
}  

  .ItemComposition {
    display: flex; 
    flex-wrap: wrap; 
    gap: 8px; 
    align-items: center; 
  }
  
  .compositionWrap {
    display: flex;
    align-items: center; 
  }
  
  .ItemCompositionIcon {
    width: 40px; 
    height: 40px; 
    margin-right: 4px; 
  }
  
  .compositionWrap span {
    font-size: 30px; 
    color: white; 
  }