.ItemBox{
    display: inline;
    overflow: auto;
    overflow-x: hidden;
}

.ItemBox::-webkit-scrollbar{
    width: 7px;

}

.ItemBox::-webkit-scrollbar-thumb {
    background-color: #242322;
    border-radius: 5px;
}

.ItemBoxButtonWrap{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.button{
    width: 120px;
    height: 35px;
    font-size: 16x;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: #242322;
    color: gray;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
}

.button.active {
    background-color: #407c42;
    color: white;
    border: 1px solid #4CAF50;

}

.button:hover {
    color: white; 
}