
.App {
display: flex;
flex-direction: column; 
justify-content: center;
align-items: center;
height: 100vh;
background-color:#242322
}

body.no-scroll {
    overflow: hidden;
}

body{
    margin: 0 0 0 0;
}

.grid-container {
display: grid;
grid-template-columns: repeat(8, 1fr); /* 9개의 동일한 열 */
grid-template-rows: repeat(6, 1fr);    /* 6개의 동일한 행 */
grid-template-areas:
    "T S S S S R R R"
    "T S S S S R R R"
    "T S S S S R R R"
    "T C C C C R R R" 
    "T C C C C I I I"
    "T C C C C I I I";
gap: 10px; /* 각 그리드 항목 사이의 간격 */
/* max-width: 1800px; */
width: 95%;
height: 90%;
}

.grid-container > div {
background-color: #3a3939;
padding: 7px;
border-radius: 8px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.grid-item-ChampionBox{
grid-area: C;
}

.grid-item-ItemBox{
grid-area: I;
display: flex;
flex-direction: row;
}

.grid-item-TraitBox{
grid-area: T;
overflow: auto;
}

.grid-item-TraitBox::-webkit-scrollbar{
    width: 7px;
}

.grid-item-TraitBox::-webkit-scrollbar-thumb {
    background-color: #242322;
    border-radius: 5px;
}

.grid-item-RecommendDeckBox{
grid-area: R;
}

.grid-item-SetChampionBox{
grid-area: S;
}

.version{
    width: 1800px;
    text-align: right;
    color:white;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}
