@font-face {
  font-family: 'GoyangDeogyang';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GoyangDeogyang.woff') format('woff');
  font-weight: 10;
  font-style: normal;
}

body{
  font-family: 'GoyangDeogyang';
}

body.no-scroll {
    overflow: hidden;
  }


